<div class="form-card">
    <mat-card class="mat-card">
        <mat-card-header class="header">
            <mat-card-title class="font-title-m">Sign Up</mat-card-title>
          </mat-card-header>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            
            <mat-card-content class="content">
                <mat-form-field class="inputs">
                    <input matInput placeholder="FirstName" formControlName="firstname">
                    <mat-error>
                        Firstname is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="inputs">
                    <input matInput placeholder="LastName" formControlName="lastname">
                    <mat-error>
                        Lastname is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="inputs">
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error>
                        Username is <strong>required</strong>
                    </mat-error>
                    <mat-error>
                        Username can only contain letters and numbers
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="inputs">
                    <input matInput type="email" placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="inputs">
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Password must contain 1 letter, 1 number and be at least 8 characters long
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="inputs">
                    <input matInput type="password" placeholder="Confirm Password" formControlName="cpassword">
                    <mat-error>
                        Passwords do not match
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="inputs">
                    <mat-label>Select account type</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="R">Reporter</mat-option>
                        <mat-option value="O">Operator</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
            <button mat-flat-button color="primary" type="submit">Submit</button>
            <div class="not-registered">
                <p>Already have an account?</p>
                <a class="create-account" href="login">Log in</a>
            </div>

        </form>
    </mat-card>
</div>