<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div style="width: 70%; margin: 1rem auto;">
                <h1>Home</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci amet tenetur quod eligendi earum. Porro officia fuga officiis, rem laudantium dolor, ea est consequuntur impedit aliquid molestiae illum quam aspernatur? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo mollitia corrupti doloribus, impedit nobis rem nam nisi saepe soluta dignissimos accusamus veritatis sed praesentium cumque, corporis rerum minus ipsum et!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci amet tenetur quod eligendi earum. Porro officia fuga officiis, rem laudantium dolor, ea est consequuntur impedit aliquid molestiae illum quam aspernatur? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo mollitia corrupti doloribus, impedit nobis rem nam nisi saepe soluta dignissimos accusamus veritatis sed praesentium cumque, corporis rerum minus ipsum et!
                </p>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
  </div>